<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Page</title>
</head>
<body>
<!--   dynamic data-->
    {{> header}} <!--injecting template  it is reusable-->
    <p>Some text here</p>
    {{> footer}} <!--injecting template  it is reusable-->
</body>
</html>