<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
<!--   dynamic data-->
   {{> header}}    <!--injecting template  it is reusable-->
<!--    <p>{{message}}</p>-->
    <p>{{screamIt message}}</p>
    {{> footer}} <!--injecting template it is reusable-->
</body>
</html>