<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Maintenence Page</title>
</head>
<body>
<!--   dynamic data-->
    {{> header}} <!--injecting template  it is reusable-->
    <p>{{message}}</p>
   
</body>
</html>